name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test against ruby ${{ matrix.ruby }} and prawn ${{ matrix.prawn }}
    runs-on: ubuntu-latest
    # Run this build only on either pull request or push.
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        ruby:
          - 2.5
          - 2.6
          - 2.7
          - 3.0
          - jruby
        prawn:
          - 2.2
          - 2.3
          - 2.4
        exclude:
          - ruby: 3.0
            prawn: 2.2
          - ruby: 3.0
            prawn: 2.3

    steps:
    - uses: actions/checkout@v2

    - uses: hidakatsuya/setup-diff-pdf@v1
      with:
        diff-pdf-version: 0.5

    - name: Set up Ruby ${{ matrix.ruby }}
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install dependencies
      run: |
        gem install bundler
        bundle install --gemfile gemfiles/prawn-${{ matrix.prawn }}.gemfile --jobs 4 --retry 3

    - name: Run tests
      run: |
        bundle exec rake test:units
        bundle exec rake test:features
