name: Test

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  setup:
    name: Ruby ${{ matrix.ruby }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby:
          - "3.0"
          - "3.1"
          - "3.2"

    steps:
      - uses: actions/checkout@v4

      - uses: hidakatsuya/action-setup-diff-pdf@v1
        with:
          diff-pdf-version: "0.5"

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests for main
        run: bundle exec rake test:main

      - name: Run tests for basic report
        run: xvfb-run -a bundle exec rake test:basic_report

      - name: Run tests for section report
        run: xvfb-run -a bundle exec rake test:section_report
